[2021-06-09 15:43] Shaishav0507 opened #3 "Readme File for running of the code"
This current Readme file only displays to play with GitHub commands.
Add the commands to run on the local server so that, he/she can check the code by running it.

[2021-06-09 16:20] hariramjp777 commented on #3
Hi @Shaishav0507, Thanks for reaching out :+1:. The current `README.md` file already contains a section called `Running project on Local Server`. Can you please briefly tell me what else you wish to add?

[2021-06-09 16:26] Shaishav0507 commented on #3
To write with the proper commands and not just indicating them to do this or that.

[2021-06-10 04:35] hariramjp777 commented on #3
Go ahead @Shaishav0507

[2021-06-10 05:34] Yash-Sakre opened #4 "add code-of-conduct.md file"
### 🐣 Is your feature request related to a problem? Please describe.
This is the code of conduct file in the repository.

This file describes all the codes of conduct while contributing to this project.

I am LGM-SOC 2021 participant. please assign this to me.

[2021-06-10 07:00] hariramjp777 commented on #4
Go ahead @Yash-Sakre

[2021-06-10 07:12] Yash-Sakre commented on #4
please add the label of LGM-SOC'21

[2021-06-10 07:43] hariramjp777 opened #6 "Create contributing.md"
### 🐣 Is your feature request related to a problem? Please describe.

Create `contributing.md` file that explains the following:

* How to open issues
* How to start working on issues
* How to make a PR

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-10 07:55] coding-geek21 commented on #6
I would like to work on this please assign me

[2021-06-10 07:55] hariramjp777 commented on #6
You can start working on this issue @coding-geek21

[2021-06-10 07:56] coding-geek21 commented on #6
Thank you :)

[2021-06-10 07:56] #4 closed

[2021-06-10 08:49] Itashamodi commented on #3
i want it to assign it to me as well

[2021-06-11 02:09] Aaishpra opened #10 "Create a code of conduct"
Create a code of conduct file

[2021-06-11 04:21] #3 closed

[2021-06-11 05:32] hariramjp777 commented on #10
It's already there, @Aaishpra :+1:

[2021-06-11 05:39] #10 closed

[2021-06-11 07:18] #6 closed

[2021-06-11 16:38] Saup21 opened #11 "changing PstgreSQL to sqlite"
### 🐣 Is your feature request related to a problem? Please describe.

<p>I want to change postgresql to sqlite so that it becomes easier for the participants to run it in their local env</p>

### 💡 Describe the solution you'd like

<p>I shall change the settings.py file</p>

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're work

[2021-06-11 16:40] khushishikhu commented on #11
@Saup21 assigned you. Please go ahead and ping us if you need any help

[2021-06-11 17:13] MuhammadAbdullah-hash opened #12 "Authentication page for helper / seeker and their entry in data base"
### 💡 Describe the solution you'd like
I would like to add an authentication page where user can signup/log in as helper or seeker. Both kinds of users would be the added to database table under categories helper, seeker.

---

**Note:**
I am working under LGM-soc. kindly assign me this issue and also add the labels.
Thanks :)

[2021-06-11 18:53] thegautamkumarjaiswal opened #13 "Enable the Discussion and Rename the Contributing file"
### 🐣 Is your feature request related to a problem? Please describe.

Discussion tab will help this project to connect new ideas and contribute.

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

Rename the contributing.md to CONTRIBUTING.md as per github markdown rules. Add license in repository to safe from copyrights.

### 📹 Screenshots or Video or GIF

---

[2021-06-11 20:15] thegautamkumarjaiswal commented on #13
Thank you @khushishikhu

[2021-06-11 20:15] khushishikhu opened #15 "Make an Issue template for documentation issues"
### 🐣 Is your feature request related to a problem? Please describe.

The
The template for Bug request and Feature request have already been made. The documentation issue template isn't there.

### 💡 Describe the solution you'd like

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assign

[2021-06-11 20:33] #13 closed

[2021-06-12 05:53] coding-geek21 commented on #15
I would like to work on this issue, Can you please assign me @hariramjp777 @khushishikhu

[2021-06-12 05:54] hariramjp777 commented on #15
Go ahead @coding-geek21

[2021-06-12 05:55] coding-geek21 commented on #15
Thank you :)

[2021-06-12 06:53] Saup21 opened #17 "Fixing the dashboard UI and adding a button to access the dashboard from the navbar"
### 🐣 Is your feature request related to a problem? Please describe.

The navbar in the dashboard page is fixed due to which the top row cards are getting chopped off and there is no button to access the dashboard page from index page.

### 💡 Describe the solution you'd like

I'll fix the navbar and add anchor tag in the index page to access the dashboard

### ❓ Describe alternatives you've consid

[2021-06-12 16:26] hariramjp777 opened #19 "UI Enhancements for Home Page"
### 🐣 Is your feature request related to a problem? Please describe.

UI Enhancements for Home Page.

### 💻 Tech Stack

* HTML
* CSS (Bootstrap if comfortable)
* JS
* Django Templates.

### 📹 Screenshots or Video or GIF

![HOME (1)](https://user-images.githubusercontent.com/58631762/121782721-a1992c80-cbc8-11eb-8f84-cfe388d12e80.png)

---

**Note:**
* Do mention if you're working on this issue und

[2021-06-12 16:27] coding-geek21 commented on #19
I would like to work on this, please assign me @hariramjp777

[2021-06-12 17:04] Saup21 opened #20 "Updating the README.md since the project does not use PostgreSQL anymore"
### 🐣 Is your feature request related to a problem? Please describe.

### Updating the README.md

<h5>PostgreSQL set up section is not needed since the project is using sqlite3 and the README might confuse future contributors</h5>

### 💡 Describe the solution you'd like

<h5>Delete the sections that deal with setting up of PostgreSQL</h5>

### ❓ Describe alternatives you've considered

### 📹 Scree

[2021-06-12 17:08] hariramjp777 commented on #20
Hi @Saup21, GO ahead :+1:

[2021-06-12 17:11] hariramjp777 commented on #19
You can start this @coding-geek21 :+1:

[2021-06-12 17:12] coding-geek21 commented on #19
Thank you :)

[2021-06-13 03:51] thegautamkumarjaiswal opened #23 "Add: License and Domain to show the Project, and Fill about section"
### 🐣 Is your feature request related to a problem? Please describe.

### 💡 Describe the solution you'd like

WE need to add license of project copyrights and We can launch our project to showcase(using any Domain(optional .org)).

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
*

[2021-06-13 03:52] thegautamkumarjaiswal commented on #23
HEY! Admin or maintainer. Please label it under lgmsoc21 and assign me with domain suggestions.

[2021-06-13 04:19] Aaishpra commented on #23
@Feminine-Divine/mentor @Feminine-Divine/admin
@thegautamkumarjaiswal you can use the above tags to reach out to us. It will be easier for us to get a notification and reply then.

[2021-06-13 04:21] #15 closed

[2021-06-13 04:30] khushishikhu opened #24 "Add a program section."
### 📚 Documentation File you'd like to improve:

- [ ] README.md
- [ ] CODE_OF_CONDUCT.md
- [ ] CONTRIBUTING.md

### 💡 Describe your ideas briefly on how to improve the documentation

Add a Program section in the Readme. and put the picture of LGM-SOC ( the logo) at the end of the Readme

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on a

[2021-06-13 05:34] hariramjp777 commented on #23
Yes

On Sunday, June 13, 2021, Shipra Verma ***@***.***> wrote:

[2021-06-13 06:52] Aaishpra opened #25 "Design a Logo for woodog"
### 🐣 Is your feature request related to a problem? Please describe.
Design a new logo for Woodog and place it in the project directory

[2021-06-13 06:55] Aaishpra opened #26 "Beautify the Readme"
### 📚 Documentation File you'd like to improve:

- [x] README.md
- [ ] CODE_OF_CONDUCT.md
- [ ] CONTRIBUTING.md

### 💡 Describe your ideas briefly on how to improve the documentation

Although we have already have a descriptive readme for our project, it would be better if someone can organize it better and maybe add some creativity to it.
### 📹 Screenshots or Video or GIF

---

**Note:**
* Do men

[2021-06-13 09:59] ishitakapoor26 commented on #25
@Aaishpra pls assign me this issue.

[2021-06-13 09:59] rishabhrathore055 commented on #26
@Aaishpra Please Assign me this issue

[2021-06-13 10:00] hariramjp777 commented on #25
Go ahead @ishitakapoor26, Please Use white color for logo :+1:

[2021-06-13 10:01] ishitakapoor26 commented on #24
@Aaishpra pls assign me this issue.

[2021-06-13 10:02] Sejal2801 commented on #26
Please Assign it to me

[2021-06-13 10:02] rishabhrathore055 commented on #26
@Aaishpra pls assign me this issue.

[2021-06-13 10:02] ishitakapoor26 commented on #25
ok

[2021-06-13 10:03] Sejal2801 commented on #19
Please assign it to me

[2021-06-13 10:04] hariramjp777 commented on #24
You can start working on this @ishitakapoor26,

Please check this URL https://letsgrowmore.in/wp-content/uploads/2021/05/growmore-removebg-preview-768x314.png for LGM - SOC logo.

Make the logo a link, clicking the logo will take the user to the LGM website https://letsgrowmore.in/soc/

[2021-06-13 10:04] Sejal2801 commented on #19
I  can do it perfectly.Please assign it to me

[2021-06-13 10:05] Sejal2801 commented on #17
Assign it to me

[2021-06-13 10:09] ishitakapoor26 commented on #24
ok

[2021-06-13 10:57] Aaishpra commented on #26
@rishabhrathore055 assigned

[2021-06-13 10:58] Aaishpra commented on #17
@Saup21 are you working here.

[2021-06-13 11:02] Saup21 commented on #17
I'm a participant

[2021-06-13 11:11] Sejal2801 commented on #19
Assign it to me..

[2021-06-13 11:49] Aaishpra commented on #17
Ya I know but are you interested in working on this or we can assign this to @Sejal2801

[2021-06-13 12:17] Saup21 commented on #17
Yes I'm interested in working on this one. Please assign it to me.

[2021-06-13 12:18] Aaishpra commented on #17
Great assigned you!

[2021-06-13 13:24] hariramjp777 commented on #19
@Sejal2801, This issue is already assigned. We will create new UI pages issues soon. Stay tuned :+1:

[2021-06-13 13:28] Sejal2801 commented on #19
Okay sir

On Sun, 13 Jun, 2021, 6:54 PM Hari Ram J P, ***@***.***>
wrote:

[2021-06-13 14:27] #24 closed

[2021-06-13 15:02] hariramjp777 opened #31 "Adding Contributors Section in readme"
### 📚 Documentation File you'd like to improve:

- [x] README.md
- [ ] CODE_OF_CONDUCT.md
- [ ] CONTRIBUTING.md

### 💡 Describe your ideas briefly on how to improve the documentation

* Adding the Contributors section in the `README.md` to display all contributors of the project.
* It can be next to the `Open-source programs` section.
---

**Note:**
* Do mention if you're working on this issue und

[2021-06-13 15:46] payaldutta commented on #31
I want to work on this issue under LGMSOC'21. Do assign if possible.
Thank You.

[2021-06-13 15:47] hariramjp777 commented on #31
Hi @payaldutta, Go ahead please

[2021-06-13 16:15] #23 closed

[2021-06-13 16:20] khushishikhu commented on #19
@hariramjp777 as it is quite a big issue. I think we can give some part to another contributor also to work upon. in this issue only and assign it to multiple contributors so that they can collaborate.

[2021-06-13 16:27] #26 closed

[2021-06-13 16:28] Sejal2801 commented on #19
Yes sir please assign it to me

On Sun, 13 Jun, 2021, 9:50 PM Khushi Gautam, ***@***.***>
wrote:

[2021-06-13 18:27] thegautamkumarjaiswal commented on #25
You can also discuss with maintainer about logo design and styles. @hariramjp777 @Aaishpra Please enable the discussion from repository setting, will help contributor to work on features,

[2021-06-14 05:23] #20 closed

[2021-06-14 14:44] #19 closed

[2021-06-14 15:04] hariramjp777 opened #36 "UI Issue - Fix Email with signup Button in Home Page"
### 🐞 Describe the Bug

* Fix `Email with signup` button on the Home page (hero and footer section)

![image](https://user-images.githubusercontent.com/58631762/121913971-7ab93280-cd4f-11eb-9eb1-77bc9fa8bf8e.png)

### 💡 Expected behaviour

It should be like the Figma design.

### 📹 Screenshots or Video or GIF

Here's the Figma link,
https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine

[2021-06-14 15:08] hariramjp777 opened #37 "UI Issue - Fix Top Navigation Bar (Make it Responsive)"
### 🐞 Describe the Bug

* Fix Top Navigation Bar and make it responsive.
* Add some transitions when clicking the hamburger icon (in mobile)

### 📹 Screenshots or Video or GIF

Here's the Figma link,
https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine-%2F-Woodog?node-id=0%3A1
(Refer Home, Home-Mobile, Home-Mobile-navbar Frames)

---

**Note:**
* Do mention if you're working on this i

[2021-06-14 15:09] Ayan-thecodeking opened #38 "adding admins section in readme"
### 📚 Documentation File you'd like to improve:

[2021-06-14 15:10] hariramjp777 commented on #38
Can you please briefly explain what the issue is?

[2021-06-14 15:11] Ayan-thecodeking commented on #38
hey @hariramjp777 please assign me this
just want to add admins sections ....i mean maintainers section
i'll fix it for sure :)

[2021-06-14 15:12] khushishikhu commented on #25
Hey!! Participants. Who so ever has any ideas about the logo of Woodog can post it on the discussions.  I have enabled it. The one we like will get points.

[2021-06-14 15:21] hariramjp777 opened #40 "UI Enhancements for Signup Page"
### 🐣 Is your feature request related to a problem? Please describe.

* Enhance the UI of the Signup Page.

### 📹 Screenshots or Video or GIF

Here's the Figma link,
https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine-Woodog?node-id=0%3A1
(Refer SIGNUP Frame)

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you s

[2021-06-14 15:22] coding-geek21 commented on #40
I would like to work on this please assign me @hariramjp777

[2021-06-14 15:23] hariramjp777 opened #41 "UI Enhancements for Login Page"
### 🐣 Is your feature request related to a problem? Please describe.

* Enhance the UI of the Login Page. (Refer Figma)

### 📹 Screenshots or Video or GIF

Here's the Figma link,
https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine-Woodog?node-id=0%3A1
(Refer LOGIN Frame)

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any

[2021-06-14 15:24] coding-geek21 commented on #36
I would like to work on this please assign me @hariramjp777

[2021-06-14 15:25] coding-geek21 commented on #41
I would like to work on this please assign me @hariramjp777

[2021-06-14 15:34] hariramjp777 commented on #25
You can refer to the UI here created using Figma
https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine-Woodog?node-id=0%3A1
It'll be good if the logo matches the background colour :+1:

[2021-06-14 15:36] hariramjp777 commented on #31
Hi @payaldutta, Are you working on this issue?

[2021-06-14 17:18] Sejal2801 commented on #38
Please assign it to me

[2021-06-14 17:18] Sejal2801 commented on #37
Assign it to me

[2021-06-14 17:19] Sejal2801 commented on #36
Assign it to me

[2021-06-14 17:21] Sejal2801 commented on #38
Assign it to me plz

[2021-06-14 17:25] khushishikhu commented on #36
@Sejal2801 assigned

[2021-06-14 17:27] khushishikhu commented on #37
@Sejal2801 assigned you

[2021-06-14 18:36] Ayan-thecodeking commented on #38
hey @Sejal2801  i have already asked please look for another issue :)

[2021-06-14 18:37] Ayan-thecodeking commented on #38
hey  @Sejal2801  i have already asked please look for another issues :)

[2021-06-14 19:32] khushishikhu opened #43 "Add a welcome bot"
### 🐣 Is your feature request related to a problem? Please describe.

Whenever someone opens a first PR. A welcome message from the bot should be displayed on their PR with a good content including some emojis

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-14 19:36] LizaHaddock commented on #31
Can I work on this issue?

[2021-06-14 19:48] payaldutta commented on #31
@hariramjp777  Yes, I am working on it.

[2021-06-15 05:55] hariramjp777 commented on #31
Okay @payaldutta, Try to make a PR within today :+1:

[2021-06-15 08:43] hariramjp777 commented on #43
The welcome bot is added to this repository :star_struck:

If you want to work on customising bot messages, Refer https://github.com/apps/the-welcome-bot :+1:

[2021-06-15 10:07] payaldutta commented on #31
Yes, I have made a PR.
Do review it.
Thank You.

[2021-06-15 11:14] hariramjp777 commented on #31
Thanks for making PR @payaldutta, I've requested some changes #45, Please check that out :+1:

[2021-06-15 12:11] Aaishpra opened #48 "Design a new aboutUs page"
### 🐣 Is your feature request related to a problem? Please describe.

Design an about us page.

[2021-06-15 12:12] Aaishpra commented on #48
Please keep the project theme in mind

[2021-06-15 12:13] Aaishpra opened #49 "Design a Gallery page"
### 🐣 Is your feature request related to a problem? Please describe.

Keep the theme in mind while creating it.

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-15 12:30] ishitakapoor26 commented on #25
![WOODOG](https://user-images.githubusercontent.com/78542333/122052530-6a628f80-ce03-11eb-9041-3f1efce4efd3.png)
![WOODOG (1)](https://user-images.githubusercontent.com/78542333/122052561-71899d80-ce03-11eb-9ede-904054445c79.png)
![WOODOG (2)](https://user-images.githubusercontent.com/78542333/122052579-74848e00-ce03-11eb-9184-517909c0b4e9.png)
![WOODOG (3)](https://user-images.githubusercontent.c

[2021-06-15 12:32] Aaishpra commented on #25
I love them all 😍

[2021-06-15 12:33] Aaishpra commented on #25
@khushishikhu can you have a look here.

[2021-06-15 12:34] Aaishpra commented on #25
@hariramjp777 what's your choice. I like the first one.

[2021-06-15 12:39] khushishikhu commented on #25
My vote goes to first one😍. @ishitakapoor26  you made all of them very nicely

[2021-06-15 12:42] thegautamkumarjaiswal commented on #25
But, I am thinking is if in a logo "with person caring a dog" is more best!? @khushishikhu

[2021-06-15 13:33] ishitakapoor26 commented on #25
@thegautamkumarjaiswal i have one more but i guess it won't match the ui. Still have a look at it.
![woodog5](https://user-images.githubusercontent.com/78542333/122061585-48b9d600-ce0c-11eb-8a5a-8fe92271e7cf.PNG)

[2021-06-15 13:44] thegautamkumarjaiswal commented on #25
Yes, You are write it won't. Lets try more! keep it

[2021-06-15 14:05] Aaishpra commented on #25
It's great just change the colours to match the ui and I think it would be perfect then

[2021-06-15 14:21] thegautamkumarjaiswal commented on #25
Yes! @ishitakapoor26 I am waiting to see the final logo from all side.

[2021-06-15 14:28] Shaishav0507 commented on #48
Hey @Aaishpra
I would like to work on this issue.

[2021-06-15 14:34] ishitakapoor26 commented on #25
@thegautamkumarjaiswal @hariramjp777 @Aaishpra created another logo pls check this out.
![woodog6](https://user-images.githubusercontent.com/78542333/122071909-c386ef00-ce14-11eb-9f29-35eed55ff1ed.PNG)

[2021-06-15 14:52] Ayan-thecodeking commented on #43
hey let me know ..if bot is not been added yet i'll add that
please assign me for this :)

[2021-06-15 15:08] khushishikhu commented on #43
@Ayan-thecodeking just beautify the content

[2021-06-15 15:23] Prakash-Haldar commented on #49
hey @Aaishpra please assign me for this under LGM SOC 2021

[2021-06-15 15:24] ishitakapoor26 commented on #25
@thegautamkumarjaiswal @hariramjp777 @Aaishpra @khushishikhu pls check...
![woodog7](https://user-images.githubusercontent.com/78542333/122080321-d3560180-ce1b-11eb-8c2e-193844f2b2e9.PNG)

[2021-06-15 15:27] Prakash-Haldar commented on #43
hey @khushishikhu  please assign me for this under LGM SOC 2021

[2021-06-15 15:38] hariramjp777 commented on #25
Yeah @Aaishpra, @ishitakapoor26 made all of them good, I like the first and fourth :+1:

[2021-06-15 16:11] hariramjp777 commented on #48
Hi @Shaishav0507, Please check out this Figma file,
https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine-Woodog?node-id=0%3A1

Make sure your design matches the `background-color`, `font` and other design properties.

[2021-06-15 16:12] Shaishav0507 commented on #48
Ok

[2021-06-15 16:16] hariramjp777 commented on #49
Hi @Prakash-Haldar, Please check out this Figma file,
https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine-Woodog?node-id=0%3A1

Make sure your design matches the `background-color`, `font` and other design properties.

[2021-06-15 16:53] hariramjp777 commented on #31
Closing this issue via #45

[2021-06-15 16:53] #31 closed

[2021-06-15 16:54] #12 closed

[2021-06-15 17:44] #40 closed

[2021-06-15 21:12] MuhammadAbdullah-hash opened #52 "Making login/logout route."
### 💡 Describe the solution you'd like
I want to make a login route on the home page so that the user can direct to the login page + when the user is logged in and rooted back it will have the option to log out and his name will be displayed.

**Note:**
Kindly assign me this issue under LGM-soc'21

[2021-06-15 21:17] khushishikhu opened #53 "bsckbdkch"
### 📚 Documentation File you'd like to improve:

- [ ] README.md
- [ ] CODE_OF_CONDUCT.md
- [ ] CONTRIBUTING.md

### 💡 Describe your ideas briefly on how to improve the documentation

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-15 21:18] #53 closed

[2021-06-15 21:25] #38 closed

[2021-06-15 21:26] khushishikhu commented on #52
@MuhammadAbdullah-hash  assigned

[2021-06-16 06:36] #17 closed

[2021-06-16 07:40] khushishikhu opened #56 "Design a logo for Feminine-Divine"
### 🐣 Is your feature request related to a problem? Please describe.

Design a logo for the Feminine Divine with some creative ideas. Try to make it in a way that depicts the moto of the organization.

### 💡 Describe the solution you'd like

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already bee

[2021-06-16 07:40] #56 closed

[2021-06-16 07:41] Aaishpra commented on #25
![WOODOG](https://user-images.githubusercontent.com/78542333/122052530-6a628f80-ce03-11eb-9041-3f1efce4efd3.png)
I still like this one the best, because of it's simplicity.

[2021-06-16 07:44] khushishikhu commented on #25
yeah exactly. @hariramjp777  Should we finalize this

[2021-06-16 07:46] khushishikhu opened #58 "Design a logo for Feminine Divine"
### 🐣 Is your feature request related to a problem? Please describe.

Design a new logo for the feminine divine and place it in the directory.

### 💡 Describe the solution you'd like

Try to make the logo in a way that depicts the moto of the organization

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it

[2021-06-16 07:53] ishitakapoor26 commented on #58
@khushishikhu pls assign me this issue.

[2021-06-16 08:01] ishitakapoor26 commented on #58
@khushishikhu @thegautamkumarjaiswal @hariramjp777 can you please describe what are your requirements like colors preferred, motive of Feminine Divine, so that I can try my best for logo.

[2021-06-16 08:03] hariramjp777 commented on #25
Yeah, Let's Finalize the first one. :+1:

[2021-06-16 08:05] khushishikhu commented on #58
@ishitakapoor26  This is the website https://khushis-fantabulous-project.webflow.io/ you will find the motive of the organization. And about the colours and stuff, it is all your choice whichever you finds the best

[2021-06-16 08:08] khushishikhu commented on #25
@ishitakapoor26  We have finalized this logo. Please place it into the directory and it's your choice if you open another issue for putting the logo on the homepage of our website. Thank you for such a lovely design

[2021-06-16 08:11] hariramjp777 commented on #25
Hi @ishitakapoor26, Create a new directory `logo` inside `Woodog` i.e. `Woodog/logo` and place the finalised logo there and make a PR :+1:

[2021-06-16 08:24] Shaishav0507 opened #60 "Automatic updation of Footer Copyright Year"
### 🐣 Is your feature request related to a problem? Please describe.

Hey @Aaishpra
I would like to add script where footer copyright year changes automatically.
In current scenario we need to change every time
Please assign it to me.
Thanks.

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
I am working uner L

[2021-06-16 08:29] hariramjp777 commented on #60
Hi @Shaishav0507, Assigned :+1:

[2021-06-16 08:33] ishitakapoor26 opened #61 "Add logo to website"
Adding finalized logo to woodog website.

[2021-06-16 08:33] ishitakapoor26 commented on #61
@hariramjp777 pls assign me this issue.

[2021-06-16 08:36] hariramjp777 commented on #61
@ishitakapoor26, Assigned you :+1:

[2021-06-16 08:47] ishitakapoor26 commented on #25
@hariramjp777 pls review my pr.

[2021-06-16 08:58] #41 closed

[2021-06-16 09:07] #25 closed

[2021-06-16 13:39] Shaishav0507 commented on #48
@Aaishpra
Could you tell me what data I need to put in About us section ?

[2021-06-16 16:06] #60 closed

[2021-06-16 16:10] khushishikhu commented on #43
@Ayan-thecodeking are you still working or I will assign it to someone else

[2021-06-16 16:12] Ayan-thecodeking commented on #43
I'm working @khushishikhu

[2021-06-16 17:29] hariramjp777 opened #64 "Refactor Template Files structure"
### 🐣 Is your feature request related to a problem? Please describe.

#### Refactor Template Files Structure

* In the `templates/partials`, three files should be there, `base.html`, `header.html` and `footer.html`.
* `base.html` should only contain HTML Boilerplate with `body` containing the Django block.
Like this,
[code]
* `header.html` should contain `<header>...</header>`
* `footer.html` shou

[2021-06-16 17:30] coding-geek21 commented on #64
I would like to work on it, please assign me @hariramjp777

[2021-06-16 18:48] Ayan-thecodeking commented on #43
Hey @khushishikhu can u please tell me what I have to add more .. because greetings is already added there
I'm confused which bot I have to add

[2021-06-16 18:54] khushishikhu commented on #43
In  .gitHub/config.yml file you will find the code for welcome bit. Go through that. Modify that content for the facts that were mentioned there

[2021-06-16 19:19] Ayan-thecodeking commented on #43
Okk

[2021-06-16 20:06] ishitakapoor26 opened #66 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 20:06] ishitakapoor26 commented on #66
@thegautamkumarjaiswal @hariramjp777 pls assign this issue to me.

[2021-06-17 07:16] Shaishav0507 commented on #48
@khushishikhu
Could you tell the data that needs to be added in this page ?

[2021-06-17 07:21] ishitakapoor26 commented on #66
Like this

![score card](https://user-images.githubusercontent.com/78542333/122350329-c267d600-cf6a-11eb-910d-236e7cf079d3.PNG)

[2021-06-17 07:27] Shaishav0507 opened #68 "Design Contact Us page"
### 🐣 Is your feature request related to a problem? Please describe.

Hey @hariramjp777 @khushishikhu
I would like to make new contact us page.
Please assign it to me.
Thanks.

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to

[2021-06-17 07:34] #66 closed

[2021-06-17 07:36] khushishikhu commented on #68
@Shaishav0507 assigned you. Please look for the figma template for taking the colour ideas

[2021-06-17 07:38] khushishikhu commented on #48
@Shaishav0507  in about us section you can add the information about the app. And the work this website signifies. Like it basically contributes to the welfare of the street dogs in the society. Some of the content you can take a look in the Readme also

[2021-06-17 07:40] Shaishav0507 commented on #68
Please provide the content also that needs to be added

[2021-06-17 07:42] Shaishav0507 commented on #48
Ok sure.
Only the text parts need to be added right?

[2021-06-17 08:23] hariramjp777 commented on #68
@Shaishav0507, For contact there should be a form asking name, email, subject, a message from the user

[2021-06-17 08:24] Shaishav0507 commented on #68
Ok 👍

[2021-06-17 09:16] jayant766 commented on #61
please assign it to me under LGM-SOC'21

[2021-06-17 09:18] ishitakapoor26 commented on #61
Hey I'm already working on it @jayant766

[2021-06-17 10:03] Shaishav0507 commented on #43
If this issue is still open, I would like to work on it.
@khushishikhu @hariramjp777

[2021-06-17 13:31] ishitakapoor26 opened #70 "Add Feedback Page"
Add feedback page

[2021-06-17 13:31] ishitakapoor26 commented on #70
@hariramjp777 @khushishikhu pls assign me this issue.

[2021-06-17 15:33] Prakash-Haldar commented on #49
Sir/Mam Please mention the file name or the coding section, Where all the codes of @Design a gallery page are stored  in GitHub file

[2021-06-17 16:44] #43 closed

[2021-06-17 16:46] khushishikhu commented on #70
@ishitakapoor26 assigned

[2021-06-17 19:05] Saup21 opened #74 "Adding models for helpers and seekers"
### 🐣 Gonna add models for the helpers and seekers

I'm a participant in LGMSOC please assign me this issue
---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-18 04:16] Aaishpra commented on #49
No need to call us sir/mam @Prakash-Haldar , and you can create a new file named `gallery.html`  [here](https://github.com/Feminine-Divine/Woodog/tree/master/Woodog/templates/woodogdata)

[2021-06-18 04:20] Aaishpra opened #75 "Create a logo for feminine-divine"
### 🐣 Is your feature request related to a problem? Please describe.
We need a new logo for our organisation, if someone has any idea. They can post here.

### 💡 Describe the solution you'd like
A new logo for feminine divine

### ❓ Describe alternatives you've considered
None

### 📹 Screenshots or Video or GIF

<!-- Attac
---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC

[2021-06-18 04:56] Sejal2801 commented on #36
Completed

[2021-06-18 08:17] payaldutta commented on #75
I want to work on this.
Do assign me if possible.
Thank you.

[2021-06-18 08:28] #61 closed

[2021-06-18 09:14] Sejal2801 commented on #36
I have completed this task successfully please tell me whether its complete or not?

[2021-06-18 09:20] Sejal2801 commented on #37
Pleaase unssign this issue .I  have commit and pull request many times,but not happening anything,getting problem in my PC,
Sorry ..

[2021-06-18 09:22] khushishikhu commented on #37
@Sejal2801 it's okay no problem. You can come up here whenever you feel you are ready.

[2021-06-18 09:26] Sejal2801 commented on #37
Pc is not working properly having problems ,i am not able to do .
I am starting visual code again and again it's get switched off after 5 min.
Sorry for this.
On Fri, 18 Jun, 2021, 2:52 PM Khushi Gautam, ***@***.***>
wrote:

[2021-06-18 10:00] ishitakapoor26 commented on #58
@khushishikhu pls check logo
![feminine divine logo1](https://user-images.githubusercontent.com/78542333/122544058-0aa9f580-d04a-11eb-99db-895799810fc7.PNG)

[2021-06-18 10:02] ishitakapoor26 commented on #58
![feminine2](https://user-images.githubusercontent.com/78542333/122544256-4349cf00-d04a-11eb-8844-2da24167faab.PNG)

@khushishikhu @hariramjp777 pls suggest if any changes related to color is to be made and also i'll remove background too.

[2021-06-18 10:03] ishitakapoor26 commented on #58
![feminine3](https://user-images.githubusercontent.com/78542333/122544571-93289600-d04a-11eb-84a6-16e80a90cfe1.PNG)

[2021-06-18 10:05] ishitakapoor26 commented on #75
Hey @payaldutta this issue is already assigned to me. Pls check issues section and then create new issues. Good Luck!

[2021-06-18 10:06] ishitakapoor26 commented on #75
@Aaishpra this issue is already assigned to me by @khushishikhu then why have you created same issue?

[2021-06-18 10:18] ishitakapoor26 commented on #58
@khushishikhu @hariramjp777 will animated logo work? I have created one just check it out...

https://user-images.githubusercontent.com/78542333/122546446-93c22c00-d04c-11eb-9a4a-46c63ab33c0e.mp4

[2021-06-18 11:07] ishitakapoor26 commented on #58
![FEMININE DIVINE (1)](https://user-images.githubusercontent.com/78542333/122552093-7d6b9e80-d053-11eb-9f18-80f5d652bf05.png)

[2021-06-18 11:11] hariramjp777 commented on #75
@Aaishpra, This issue is already open #58.

[2021-06-18 11:11] #75 closed

[2021-06-18 11:17] hariramjp777 commented on #58
@ishitakapoor26 The animated logo looks good :star_struck:

[2021-06-18 11:33] ishitakapoor26 commented on #58
![FEMININE DIVINE (2)](https://user-images.githubusercontent.com/78542333/122554792-0e904480-d057-11eb-96bc-de5d607d2ad8.png)

[2021-06-18 11:49] ishitakapoor26 commented on #58
![FEMININE DIVINE (1)](https://user-images.githubusercontent.com/78542333/122556562-4b5d3b00-d059-11eb-982e-f2732097ac56.gif)

A little variation in animated one pls check.

[2021-06-18 11:58] ishitakapoor26 commented on #58
![FEMININE DIVINE (2)](https://user-images.githubusercontent.com/78542333/122557550-9035a180-d05a-11eb-9cfa-6bd3c62a8edd.gif)

[2021-06-18 13:03] khushishikhu commented on #58
@ishitakapoor26 Thank you very much for such lovely logos. I like the last two logos you can put an animated one in the project directory. @hariramjp777 @Aaishpra  Please give your opinions also which one do you like?

[2021-06-18 16:44] AkshatSharma000 opened #78 "Updating Register Page"
### 🐣 Is your feature request related to a problem? Please describe.

Register page is looking to dull and not responsive too.

### 💡 Describe the solution you'd like

I will develop an attractive register page compatible for responsive interaction.

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under `

[2021-06-18 16:56] AkshatSharma000 commented on #37
If possible assign it to me.

[2021-06-18 16:58] hariramjp777 commented on #37
@AkshatSharma000 assigned you :+1:

[2021-06-18 17:01] hariramjp777 commented on #58
This one looks good

[2021-06-18 17:08] hariramjp777 commented on #78
@AkshatSharma000, Work on this issue :+1:. Refer the <a href="https://www.figma.com/file/nUaDVjPxi4qn0CTZNoLj0E/Feminine-Divine-Woodog?node-id=0%3A1">Figma</a> (SIGNUP Frame). I don't want the UI to be changed. Enhance the page by fixing style issues on the page and making it responsive.

[2021-06-18 17:11] hariramjp777 commented on #78
@AkshatSharma000, Are you an `LGMSOC 2021` Participant?

[2021-06-18 17:23] AkshatSharma000 commented on #78
I can develop the same as per your frame but i cannot embed the dtl into it, if you can do it I will create as per your expectation.

[2021-06-18 18:01] Aaishpra commented on #58
Agreed let's just finalize the above pne

[2021-06-19 05:03] hariramjp777 commented on #78
Hi @AkshatSharma000, what is dtl?

[2021-06-19 05:54] AkshatSharma000 commented on #78
Django Template Language thats embedded in the code to link the model based view

[2021-06-19 06:48] hariramjp777 commented on #78
@AkshatSharma000, Can you please brief the problem here you're facing?

Check out the <a href="https://github.com/Feminine-Divine/Woodog/blob/master/README.md">`README.md`</a> to setup the project.

[2021-06-19 11:14] AkshatSharma000 commented on #78
Actually I will develop whole frontend but i am not able to embed django view based modal in it.So if you assure me for embedding by your side , I can start working on it.

[2021-06-19 11:15] AkshatSharma000 commented on #78
Whole front end has been messed up in the project making fully compatible and organised frontend is the current need.

[2021-06-19 12:55] #58 closed

[2021-06-19 17:18] #36 closed

[2021-06-19 17:21] Sejal2801 commented on #36
This issue was assigned to me and i have completed this task .Can u tell me
did it completed or not?

On Sat, 19 Jun, 2021, 10:48 PM Khushi Gautam, ***@***.***>
wrote:

[2021-06-19 17:21] Sejal2801 commented on #36
#36

On Sat, 19 Jun, 2021, 10:51 PM sejal panjwani, ***@***.***>
wrote:

[2021-06-19 17:54] Umesh-01 opened #80 "add some badges to README"
### 📚 Documentation File you'd like to improve:
add badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

- [x] README.md
- [ ] CODE_OF_CONDUCT.md
- [ ] CONTRIBUTI

[2021-06-19 18:17] Umesh-01 commented on #80
@khushishikhu @coding-geek21 should I work on this??

[2021-06-20 05:23] khushishikhu commented on #80
@Umesh-01 go ahead

[2021-06-20 06:27] hariramjp777 commented on #80
@Umesh-01 assigned :+1:

[2021-06-20 11:30] #80 closed

[2021-06-21 03:58] coding-geek21 commented on #49
Can I also work on this @hariramjp777

[2021-06-21 05:11] coding-geek21 commented on #68
@hariramjp777 Can I work on this?

[2021-06-21 05:12] Shaishav0507 commented on #68
@coding-geek21 I have done it. Just need to make PR. @hariramjp777

[2021-06-21 05:59] Aaishpra commented on #78
Agreed, Can you please send a PR for the same?

[2021-06-21 07:08] #48 closed

[2021-06-21 07:11] khushishikhu opened #83 "Improvement in the UI of About Us"
### 🐞 Describe the Bug

currently the UIof about us page is not so attractive. we would like to have a good UI for that.

### 💡 To Reproduce

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-21 11:28] coding-geek21 commented on #83
I would like to work on this please assign me @khushishikhu @hariramjp777

[2021-06-21 12:53] #64 closed

[2021-06-21 12:54] khushishikhu commented on #83
@coding-geek21 assigned

[2021-06-21 13:34] 7saikat7 opened #86 "Ui Changes after user login"
### 🐞 Describe the Bug

If a user registers and logged in the home Ui is still showing that Login/Signup buttons ,but It should be removed to something different, which will make the user aware that he/she is logged in to the wesite as a verified user !

 LGM SOC 2021
### 💡 To Reproduce

### 💡 Expected behavior

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on th

[2021-06-21 13:38] 7saikat7 commented on #86
I would like to start my contribution in  Feminine-Devine  with this issue , please assign me @hariramjp777 @admin

[2021-06-21 17:04] AkshatSharma000 commented on #78
I have already being assigned for it. All I need your favour to embed django templates language in it.

[2021-06-21 20:20] 7saikat7 opened #88 "Rest_Api in contact us"
### 🐣 Is your feature request related to a problem? Please describe.

It will be highly useful if we integrate a rest api in the contact us form , so later on in case of colaboration many other apps or website can use this api to submit a contact request

### 💡 Describe the solution you'd like

this api can help to interact with other web apps without changing the code , so it can be really useful

[2021-06-21 20:23] 7saikat7 commented on #88
This is a suggestion or enhancement to this beautiful project, if it's valid issue , i would like to work on rest API, I just have kickstarted with this recently!

[2021-06-22 11:12] #86 closed

[2021-06-22 11:14] khushishikhu commented on #88
@7saikat7  assigned. Go ahead

[2021-06-22 12:16] #68 closed

[2021-06-22 12:16] #83 closed

[2021-06-22 12:23] hariramjp777 opened #90 "UI Enhancement for Contact us Page."
### 🐣 Is your feature request related to a problem? Please describe.

UI Enhancement for the `contact` page.

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-22 12:23] coding-geek21 commented on #90
I would like to work on this please assign me @hariramjp777

[2021-06-22 12:38] hariramjp777 commented on #90
Go ahead @coding-geek21

[2021-06-22 16:12] khushishikhu commented on #90
@coding-geek21 also make that page directed when we click on the contact page. There is also some error that page isn't follow the router with localhost:8000/..../

[2021-06-23 04:44] coding-geek21 opened #91 "Add scroll to top button"
### 🐣 Is your feature request related to a problem? Please describe.

Add scroll to top button

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

please assign me under LGM SOC'21

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has

[2021-06-23 09:33] hariramjp777 commented on #91
@coding-geek21 assigned :+1:

[2021-06-23 12:09] #90 closed

[2021-06-23 12:11] #52 closed

[2021-06-23 16:31] coding-geek21 opened #93 "Add a favicon"
### 🐣 Is your feature request related to a problem? Please describe.

Add a favicon

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

I would like to work on this please assign me under LGM SOC 2021

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you sho

[2021-06-23 18:45] #91 closed

[2021-06-24 15:27] hariramjp777 commented on #93
@coding-geek21 assigned :+1:

[2021-06-24 19:17] #93 closed

[2021-06-25 06:14] hariramjp777 opened #97 "Change Password Page"
### 🐣 Is your feature request related to a problem? Please describe.

* Adding Change Password Page.

### 💡 Describe the solution you'd like

* Only People who logged in can access this page.
* It should be a form containing two inputs `Current Password` and `New Password` and a submit button.
* Changing the user's password if the current password is correct (matches).

---

**Note:**
* Do mention

[2021-06-25 06:15] coding-geek21 commented on #97
I would like to work on this , please assign me @hariramjp777

[2021-06-25 08:15] hariramjp777 commented on #97
@coding-geek21 :+1: assigned

[2021-06-26 11:08] coding-geek21 opened #99 "Enhance the alert messages"
### 🐣 Is your feature request related to a problem? Please describe.

Enhance the alert messages like success and error messages displayed in webpages

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you sh

[2021-06-26 11:12] hariramjp777 commented on #99
@coding-geek21, :+1: assigned.

[2021-06-26 14:38] #97 closed

[2021-06-27 10:31] coding-geek21 commented on #37
Can i work on this @hariramjp777 ?

[2021-06-27 11:30] #99 closed

[2021-06-27 11:31] khushishikhu commented on #37
@AkshatSharma000 are you working on this? or I will assign it to someone else

[2021-06-27 12:01] AkshatSharma000 commented on #37
actually i am unable to find the related file of css and js. So, If you resolve this i can do this or else you can assign to others.

[2021-06-27 12:02] AkshatSharma000 commented on #37
also please review this #77 .

[2021-06-28 13:42] hariramjp777 opened #101 "Making all pages responsive."
### 🐣 Is your feature request related to a problem? Please describe.

Making all pages responsive.

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-06-28 13:43] coding-geek21 commented on #101
Can you assign this issue to me ?

[2021-06-29 00:44] kumarishalini6 opened #102 "Design blog page"
### 🐞 Describe the Bug
There were no blog page i want to design that page
@khushishikhu can i work on this issue

[2021-06-29 04:55] khushishikhu commented on #102
Assigned

[2021-06-30 07:15] kumarishalini6 opened #104 "custom scrollbar"
### 🐣 Is your feature request related to a problem? Please describe.
I want to make a custom scrollbar according to project theme

@khushishikhu  can i work on this issue

[2021-06-30 07:19] kumarishalini6 commented on #49
if no one is working in this issue can i work @khushishikhu  @Aaishpra ??

[2021-06-30 07:40] Aaishpra commented on #49
@coding-geek21 are you working here?

[2021-06-30 07:45] Prakash-Haldar commented on #49
You can assign this project to someone . Currently my semester exams r going on

[2021-06-30 07:48] coding-geek21 commented on #49
Yeah

[2021-06-30 10:49] hariramjp777 commented on #104
assigned you @kumarishalini6 :+1:

[2021-06-30 11:19] kumarishalini6 commented on #70
If no one is working can I work on this issue
@khushishikhu

[2021-06-30 11:51] kumarishalini6 opened #107 "Forget password page"
### 🐞 Describe the Bug
There is option of forget password not no page available
@khushishikhu can i work on this issue

[2021-06-30 12:05] ishitakapoor26 commented on #70
@kumarishalini6 i'm working on this issue. Actually, I had my end sem exams last week so I wasn't able to work on it but now I'm almost done with it.

[2021-06-30 12:06] kumarishalini6 commented on #70
It's ok

[2021-06-30 16:36] MuhammadAbdullah-hash opened #108 "Figma design for profile pages of helper/seeker"
### 💡 Describe the solution you'd like
I would like to add Figma designs for the profile pages of the helper seekers.

**Note:**
* Kindly assign me this issue under LGM-SOC :)

[2021-07-01 06:17] coding-geek21 opened #110 "Add 404_handler"
### 🐣 Is your feature request related to a problem? Please describe.

Add 404_handler

### 💡 Describe the solution you'd like

- Error page is added to website, I would like to make it functional by adding 404_handler

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want t

[2021-07-01 06:54] #104 closed

[2021-07-01 07:59] kumarishalini6 opened #111 "improving footer"
### 🐣 Is your feature request related to a problem? Please describe.

I want to make footer more intereactive
@hariramjp777 can i work on this issue ?

[2021-07-01 10:03] Sejal2801 commented on #78
Assign it to me

[2021-07-01 11:57] #101 closed

[2021-07-01 11:58] #102 closed

[2021-07-01 12:03] kumarishalini6 commented on #107
@khushishikhu  can i work on this issue?

[2021-07-01 12:08] coding-geek21 opened #113 "Enhance blog page"
### 🐣 Is your feature request related to a problem? Please describe.

Improve the design of blog page, like adding more sections like featured, popular etc.. and adding pagination

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want

[2021-07-01 13:10] kumarishalini6 opened #114 "FAQs page"
### 🐣 Is your feature request related to a
I want to design FAQs section
@khushishikhu  can I work on this issue

[2021-07-01 13:15] kumarishalini6 opened #115 "Service page"
### 🐣 Is your feature request related to a problem? Please describe.

I want to add a service page in , in navbar on hover there will be 3 option appear
1-dog walking
2-pet  settings
3-dog training

@khushishikhu can I work on this issue

[2021-07-01 17:28] Aaishpra commented on #114
Go for it, I will add the labels tomorrow

[2021-07-01 17:28] Aaishpra commented on #113
Go for it

[2021-07-02 03:45] kumarishalini6 commented on #114
@hariramjp777  can you please add level

[2021-07-02 11:49] kumarishalini6 opened #118 "Preloader"
### 🐣 Is your feature request related to a problem? Please describe.

I want to add a preloader
@hariramjp777 can i work on this issue

[2021-07-02 13:01] hariramjp777 commented on #118
@kumarishalini6 assigned :+1:

[2021-07-02 16:18] Shauryaditya opened #119 "Add email verification to Sign up page"
### 🐣 Is your feature request related to a problem? Please describe.

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-07-02 16:20] Shauryaditya commented on #119
I would like to work on this issue .

[2021-07-02 18:18] kumarishalini6 opened #120 "Readme.md file"
### 🐣 Is your feature request related to a problem? Please describe.

I want to add labels and point table in readme.md file for those who are new in open source.
@khushishikhu  can I work on this issue

[2021-07-03 11:46] #74 closed

[2021-07-03 11:47] #49 closed

[2021-07-03 11:51] #114 closed

[2021-07-03 11:52] #37 closed

[2021-07-04 06:12] hariramjp777 commented on #119
@Shauryaditya assigned :+1:

[2021-07-04 08:47] coding-geek21 opened #123 "Make forgot password page functional"
### 🐣 Is your feature request related to a problem? Please describe.

I would like to work on back-end to make forgot password page functional

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should che

[2021-07-04 13:31] coding-geek21 opened #125 "Enhance and make FAQ page responsive"
### 🐣 Is your feature request related to a problem? Please describe.

Enhance and make FAQ page responsive

![image](https://user-images.githubusercontent.com/53329034/124386864-fd536300-dcf9-11eb-80a5-587eb67ae33c.png)

### 💡 Describe the solution you'd like

-Enhancing the background color and text according to UI of the webpage

### ❓ Describe alternatives you've considered

### 📹 Screenshots o

[2021-07-04 16:46] kumarishalini6 commented on #111
@khushishikhu  can i work on this issue ??

[2021-07-04 16:49] kumarishalini6 opened #127 "Enhence navbar"
### 🐣 Is your feature request related to a problem? Please describe.

 The navbar is so simple , I want to add some hover effect and make it interactive on navbar.

@khushishikhu  can i work on this issue

[2021-07-06 16:04] coding-geek21 opened #129 "Add Chatbot"
### 🐣 Is your feature request related to a problem? Please describe.

Chat bots can be added to improve user experience

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already be

[2021-07-06 16:49] #120 closed

[2021-07-06 16:49] #107 closed

[2021-07-06 16:51] #113 closed

[2021-07-06 16:52] #115 closed

[2021-07-06 16:54] #125 closed

[2021-07-06 16:57] khushishikhu commented on #129
@coding-geek21 go ahead

[2021-07-06 17:47] coding-geek21 opened #130 "Make blog page responsive"
### 🐣 Is your feature request related to a problem? Please describe.

Make blog page responsive

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-07-07 02:32] kumarishalini6 opened #131 "Encenment of home page"
### 🐣 Is your feature request related to a problem? Please describe.

I want to design new home page with effective css and more attractive. When we click on signup button it render on home page so the look of home should be different and more attractive.

@khushishikhu  can I work on this issue

[2021-07-07 16:12] coding-geek21 opened #134 "Make dropdown in Navbar"
### 🐞 Describe the Bug

![image](https://user-images.githubusercontent.com/53329034/124793779-f6338b80-df6b-11eb-834b-1e908034384e.png)

### 💡 To Reproduce
Nav-bar is extending long , I just want to make a dropdown list and add Service and FAQ pages in dropdown list

### 💡 Expected behavior

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM

[2021-07-10 06:31] #129 closed

[2021-07-10 07:34] coding-geek21 opened #137 "Enhance and Fix Bugs in Service page"
### 🐞 Describe the Bug

![image](https://user-images.githubusercontent.com/53329034/125155680-30c14200-e17f-11eb-96d9-fca90c753e47.png)
![image](https://user-images.githubusercontent.com/53329034/125160442-7d664680-e19a-11eb-93fe-f3b1a91782b4.png)

-footer gets distorted
- I also want to change the font color, text size ,style and background color according to UI, As it's not readable

### 💡 To Re

[2021-07-11 04:09] coding-geek21 opened #140 "Design blog content page"
### 🐣 Is your feature request related to a problem? Please describe.

We have blog page, as an extension i want to design a blog content page
When clicking the Read more button it will redirect to blog content page.

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue u

[2021-07-11 04:10] coding-geek21 opened #141 "Create Models for Gallery page"
### 🐣 Is your feature request related to a problem? Please describe.

I want to create models for gallery page, so that admin can directly upload pictures into the database

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to wor

[2021-07-11 04:11] coding-geek21 opened #142 "Create Models for Blog page"
### 🐣 Is your feature request related to a problem? Please describe.

Create Models for Blog page

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-07-11 08:28] hariramjp777 commented on #141
assigned :+1: @coding-geek21

[2021-07-11 08:28] hariramjp777 commented on #142
assigned :+1: @coding-geek21

[2021-07-11 08:28] hariramjp777 commented on #140
assigned :+1: @coding-geek21

[2021-07-11 08:29] hariramjp777 commented on #137
assigned :+1: @coding-geek21

[2021-07-11 10:56] #130 closed

[2021-07-11 11:01] #123 closed

[2021-07-11 11:02] #134 closed

[2021-07-12 08:51] coding-geek21 commented on #78
Can I work on this issue?

[2021-07-12 08:53] coding-geek21 opened #146 "Enhance Login page"
### 🐣 Is your feature request related to a problem? Please describe.

I want to enhance Login page using some illustrations and design

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it

[2021-07-12 13:41] coding-geek21 opened #147 "Add sign up using Google"
### 🐣 Is your feature request related to a problem? Please describe.

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-07-12 13:42] coding-geek21 opened #148 "Add sign up using Facebook"
### 🐣 Is your feature request related to a problem? Please describe.

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should check if it has already been assigned to anyone.

[2021-07-13 08:39] Sejal2801 commented on #111
can i work on this issue?

[2021-07-14 07:34] #137 closed

[2021-07-14 07:36] khushishikhu commented on #147
@coding-geek21 assigned. If you need any help you can ping any of us

[2021-07-14 07:38] khushishikhu commented on #148
@coding-geek21 assigned

[2021-07-14 07:39] #70 closed

[2021-07-14 07:41] #140 closed

[2021-07-15 03:14] coding-geek21 opened #150 "Fetch images from gallery model"
### 🐣 Is your feature request related to a problem? Please describe.

I want to add images to gallery model and fetch it from the database and display in gallery page
### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on an

[2021-07-15 11:19] coding-geek21 opened #152 "Fetch Blog contents from model"
### 🐣 Is your feature request related to a problem? Please describe.

I want to make blog functional by fetching and adding contents from blog model

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you shou

[2021-07-15 16:01] #146 closed

[2021-07-15 16:28] Sejal2801 commented on #78
Assign it to me

[2021-07-16 13:11] hariramjp777 commented on #78
@Sejal2801 assigned.

[2021-07-17 02:39] coding-geek21 commented on #119
Can i Work on this? @hariramjp777

[2021-07-18 16:05] #141 closed

[2021-07-18 16:12] #142 closed

[2021-07-20 05:55] hariramjp777 opened #160 "Fix the height of chatbot"
### 🐞 Describe the Bug

Fix the height of the chatbot

---

### 📹 Screenshots or Video or GIF

![image](https://user-images.githubusercontent.com/58631762/126268805-8387e912-376f-40ab-a01b-8d685a3a37fc.png)

---

### 💡 Expected behaviour

Height should be reduced.

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should che

[2021-07-20 06:08] coding-geek21 commented on #160
I would like to work on this issue please assign this to me @hariramjp777

[2021-07-20 16:14] coding-geek21 opened #161 "Create Add blog page"
### 🐣 Is your feature request related to a problem? Please describe.

In blogs page we have add blog option where the user can add their blogs

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you should che

[2021-07-20 16:15] coding-geek21 opened #162 "Create Manage blogs page"
### 🐣 Is your feature request related to a problem? Please describe.

This page allows the user to delete and see all the blogs posted by themselves

### 💡 Describe the solution you'd like

### ❓ Describe alternatives you've considered

### 📹 Screenshots or Video or GIF

---

**Note:**
* Do mention if you're working on this issue under ` LGM SOC 2021 `.
* If you want to work on any issue, you shou

[2021-07-22 03:54] Sejal2801 commented on #78
Is there any update??

[2021-07-22 19:24] #147 closed

[2021-07-22 19:25] #150 closed

[2021-07-23 05:12] Sejal2801 commented on #78
Okay Now its done? still its showing that you have assign it to me
but I have completed my work..

[2021-07-29 01:38] #161 closed

[2021-07-29 01:39] #160 closed

[2021-07-30 03:52] #152 closed

[2021-08-02 13:03] #88 closed

[2021-08-02 13:03] #78 closed

[2021-08-02 13:24] 7saikat7 commented on #148
From LMGSOC ,I would like to work on this issue if there is no progress till now !

[2021-08-02 13:27] coding-geek21 commented on #148
Actually my part is completed.. the only thing is it works only in production after adding SSH certificate.. Any way I will make PR by tomorrow

[2021-09-01 03:36] #118 closed

[2021-09-03 03:36] #127 closed

[2021-09-06 03:35] #108 closed

[2021-09-08 03:35] #110 closed

[2021-09-13 03:35] #131 closed

[2021-09-19 03:34] #111 closed

[2021-09-27 03:35] #162 closed